@import "tailwindcss";
@import "./tailwind-utils.css";
@import "./root.css";
@import "./fonts.css";

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  background-color: rgb(234 252 221);
  word-wrap: break-word;
  overflow-wrap: break-word;
  color: var(--color-primary);
  font-size: 20px;
  line-height: 1.7;
  overflow-x: hidden;
}
body:has(dialog[open]) {
  overflow: hidden;
}
#page {
  background-color: oldlace;
  @apply text-secondary;
  @apply font-primary;
}
button,
a {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1em;
}
h3,
h4,
h5 {
  font-weight: bold;
}
h1 {
  /* font-size: 3.052em; */
  /* @apply text-4xl; */
}
h2 {
  /* font-size: 2.441em; */
  /* @apply text-5xl; */
}
h3 {
  @apply text-3xl;
}
h4 {
  @apply text-2xl;
  /* font-size: 1.563em; */
}
h5 {
  /* font-size: 1.25em; */
}
strong,
b {
  font-weight: 700;
}

p {
  margin-bottom: 1em;
}
.prose p {
  margin-bottom: 2em;
}
textarea {
  width: 100%;
  font-size: 16px;
}
input {
  font-size: 16px;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  max-height: 75dvh;
  height: auto;
  border-radius: 8px;
  @apply shadow-xl;
}
code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}
pre {
  padding: 1.5em;
  border-radius: 8px;
}
pre > code {
  all: unset;
}
blockquote {
  border-left: 4px solid var(--accent);
  padding: 0 0 0 20px;
  margin: 0px;
  font-size: 1.333em;
}
hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
  main {
    padding: 1em;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
