@import "tailwindcss";
/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */
:root {
  --primary-green: forestgreen;
  --grass-green: #ecf29d;
  --secondary-green: darkolivegreen;
  --color-secondary: #4f3866;
  --accent: #2356ff;
  --accent-secondary: #97006d;
  --accent-dark: #000d8a;
  --anchor-accent: var(--accent-dark);
  --highlight: #23e6b299;
  --darklight: rgba(0, 0, 0, 0.25);
  --black: 15, 18, 25;
  --gray: 96, 115, 159;
  --gray-light: 229, 233, 240;
  --gray-dark: 34, 41, 57;
  --gray-gradient: rgba(var(--gray-light), 50%), #fff;
  --box-shadow:
    0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
    0 16px 32px rgba(var(--gray), 33%);
}

@theme {
  --color-primary: var(--secondary-green);
  --color-secondary: var(--color-secondary);
  --color-grass: var(--grass-green);
  --color-darklight: var(--darklight);
  --color-highlight: var(--highlight);
}
