@import "tailwindcss";

@layer utilities {
  .content-grid {
    display: grid;
    grid-template-columns:
      [full-start] 2fr [breakout-start] 1fr
      [content-start] minmax(0, 65ch) [content-end]
      1fr [breakout-end] 2fr [full-end];
  }
  .content-grid > * {
    grid-column: content;
  }
  .breakout {
    grid-column: breakout;
    @apply py-12;
  }
  .full-width {
    grid-column: full;
  }
}

@layer utilities {
  a {
    color: var(--anchor-accent, inherit);
    border-bottom: 0.125em solid transparent;
    text-decoration: none;
    font-size: smaller;
    transition: all 0.4s;
    line-height: 1.25em;
  }
  a.active {
    border-bottom: 0.125em solid var(--accent-dark);
    color: var(--accent-dark);
  }
  a:hover {
    color: var(--accent);
    border-bottom: 0.125em solid var(--accent);
  }
}
