---
import BaseHead from "../components/BaseHead.astro";
import VideoHero from "$lib/components/VideoHero/index";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import TypeWriter from "../components/TypeWriter.svelte";
import Intersect from "$lib/components/Intersect.svelte";
import Icon from "$lib/components/Icon.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import ids from "$lib/manifest.json";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <Intersect client:load>
      <div class="hero h-[100dvh]">
        <VideoHero title={SITE_TITLE} ids={ids} client:load>
          <h4 class="text-white text-2xl md:text-3xl">
            A place {` `}<span class="italic"
              ><TypeWriter
                afterTyped={{ wait: 5000 }}
                endState={{ caret: "hidden" }}
                texts={[
                  "you find a little corner of paradise",
                  "deep in the forest",
                  "far away from civilisation",
                  "to come rewild yourself",
                ]}
                client:load
              /></span
            >
          </h4>
        </VideoHero>
      </div>
    </Intersect>
    <div id="page">
      <main class="flex flex-col gap-12">
        <div class="flex justify-center">
          <Icon src="shapes" ctx="shroom-3" size="5" />
        </div>
        <section>
          <p class="font-secondary">
            Tucked away deep in the forests of the South Wales mountains,
            Cwmcoedoeron is magical place full of wild flowers, wild woods, and
            wild water.
          </p>
          <p class="">
            We cater for groups of up to 50 people with facilities including
            indoor and outdoor kitchens, a 50 foot partytunnel, hot shower,
            compost toilets, fire pits, and hammocks.
          </p>
        </section>
        <div class="flex justify-center">
          <Icon src="shapes" ctx="shroom-5" size="5" />
        </div>
      </main>
    </div>
    <Footer />
  </body>
</html>
