---
import BaseHead from "../components/BaseHead.astro";
import VideoHero from "$lib/components/VideoHero";
import Footer from "../components/Footer.astro";
import Header from "../components/Header/index.astro";
import TypeWriter from "../components/TypeWriter.svelte";
import Intersect from "$lib/components/Intersect.svelte";
import Icon from "$lib/components/Icon.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import ids from "$lib/manifest.json";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <Intersect client:load>
      <div class="hero h-[100dvh]">
        <VideoHero title={SITE_TITLE} ids={ids} client:load>
          <h2 class="text-emerald-100 text-xl md:text-3xl font-primary">
           <span class="italic"
              ><TypeWriter
                afterTyped={{ wait: 5000 }}
                endState={{ caret: "hidden" }}
                texts={[
                  "a little corner of paradise",
                  "deep in the forest",
                  "far away from civilisation",
                ]}
                client:load
              /></span
            > 
          </h2>
        </VideoHero>
      </div>
    </Intersect>
    <div id="page">
      <main class="flex flex-col gap-12 py-18">
        <!-- <div class="flex justify-center">
          <Icon src="shapes" ctx="shroom-3" size="5" />
        </div> -->
        <section class="content-grid">
          <h3 class="font-secondary text-3xl breakout">
            Tucked away deep in the forests of the South Wales mountains,
            Cwmcoedoeron is magical place full of wild flowers, wild woods, and
            wild water.
          </h3>
          <p class="">
            We cater for groups of up to 30 people with facilities including
            indoor and outdoor kitchens, a 50 foot partytunnel, hot shower,
            compost toilets, fire pits, and hammocks.
          </p>
          <p class="">
           
          </p>
          <p>
                     </p>
        </section>
        <!-- <div class="flex justify-center">
          <Icon src="shapes" ctx="shroom-5" size="5" />
        </div> -->
      </main>
    </div>
    <Footer />
  </body>
</html>
