---
import BaseHead from "../components/BaseHead.astro";
import VideoHero from "$lib/components/VideoHero";
import Footer from "../components/Footer.astro";
import Header from "../components/Header/index.astro";
import TypeWriter from "../components/TypeWriter.svelte";
import Intersect from "$lib/components/Intersect.svelte";
import Banner from "$lib/components/Banner.astro";
import volunteerImage from "$lib/assets/jago-campfire.jpeg";
import Icon from "$lib/components/Icon.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import ids from "$lib/manifest.json";
---

<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <Intersect client:load>
      <div class="hero h-[100dvh]">
        <VideoHero title={SITE_TITLE} ids={ids} client:load>
          <h2
            class="text-white text-xl md:text-4xl font-primary text-shadow-2xs"
          >
            <span class="italic"
              ><TypeWriter
                afterTyped={{ wait: 5000 }}
                endState={{ caret: "hidden" }}
                texts={[
                  "a little corner of paradise",
                  "deep in the forest",
                  "a place all to yourselves",
                ]}
                client:load
              /></span
            >
          </h2>
        </VideoHero>
      </div>
    </Intersect>
    <div id="page">
      <main class="flex flex-col gap-12 py-12 md:py-18 px-8 md:px-0">
        <!-- <div class="flex justify-center">
          <Icon src="shapes" ctx="shroom-3" size="5" />
        </div> -->
        <section class="content-grid">
          <p class="font-secondary text-xl md:text-3xl">
            Tucked away deep in the forests of the South Wales mountains,
            Valley of the Cool Trees is a magical place full of wild flowers, wild woods,
            and wild water.
          </p>
          <div class="flex flex-col gap-16 mb-12 breakout">
            <Banner
              img="camping-field.jpg"
              title="Group Camping"
              url="camping"
            />
            <Banner
              img="view-from-top-mozart-field.jpg"
              title="Events and retreats"
              url="events"
            />
            <Banner
              img="people-walking-forest.jpg"
              title="Activities"
              url="activities"
            />
            <Banner img="otis-flowers.jpg" title="Contact" url="contact" />
          </div>
        </section>
        <!-- <div class="flex justify-center">
          <Icon src="shapes" ctx="shroom-5" size="5" />
        </div> -->
      </main>
    </div>
    <Footer />
  </body>
</html>
