---
import AboutHeroImage from "../assets/camp-fire.jpg";
import Layout from "../layouts/StandardPage.astro";
---

<Layout
  title=""
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("August 08 2021")}
  heroImage={AboutHeroImage}
>
  <div class="content-grid gap-y-8"></div>
</Layout>
