---
import NavLinks from "./NavLinks.astro";
import Icon from "../Icon.astro";
const { id } = Astro.props;
---

<dialog id={`modal-${id}`} class="shadow-xl rounded-2xl fixed">
  <div class="modal">
    <div class="flex justify-end">
      <button class="p-2 text-3xl">
        <Icon ctx="x" />
      </button>
    </div>
    <h2 class="font-secondary text-3xl text-center">Farmacy menu</h2>
    <nav class="grid place-content-center font-primary">
      <div class="flex flex-col gap-8 items-center text-3xl navlist">
        <NavLinks />
      </div>
    </nav>
    <div class="flex justify-center">
      <Icon src="shapes" ctx="shroom-3" size="5" />
      <Icon src="shapes" ctx="shroom-1" size="5" />
      <Icon src="shapes" ctx="shroom-4" size="5" />
    </div>
  </div>
</dialog>
<script define:vars={{ id }}>
  const modal = document.getElementById(`modal-${id}`);
  const close = modal?.querySelector("button");
  close?.addEventListener("click", () => modal.close());
  document.addEventListener(`toggle-${id}`, () =>
    modal?.attributes?.open ? modal.close() : modal.showModal()
  );
</script>
<style>
  .navlist {
    --anchor-accent: var(--accent-secondary);
  }
  dialog {
    opacity: 1;
    top: 50%;
    left: 50%;
    width: 90vw;
    height: 90dvh;
    transition: all 0.4s;
    transform: translate(-50%, -50%);
  }
  @starting-style {
    dialog[open] {
      opacity: 0;
      transform: translate(-50%, -25%);
    }
  }

  nav {
    height: inherit;
  }
  .modal {
    padding: 2em;
    height: inherit;
  }

  .modal {
    gap: 16px;
    display: flex;
    flex-direction: column;
    background-color: oldlace;
  }

  dialog::backdrop {
    background-color: #e5daf8a6;
    backdrop-filter: blur(0.5em);
  }
</style>
