---
import { SITE_TITLE } from "$lib/consts";
import NavLinks from "./NavLinks.astro";
import Icon from "../Icon.astro";
import Dialog from "./Dialog.astro";
---

<script>
  const $header = document.querySelector("header");
  document.addEventListener("percent", ({ detail }) => {
    if (detail < 0.05) $header?.classList.remove("satuation-filter");
    if (detail > 0.05) $header?.classList.add("satuation-filter");
  });
</script>
<header class="satuation-filter font-tertiary">
  <nav>
    <div class="flex flex-row items-center font-secondary">
      <Icon ctx="shroom-2" size="3" src="shapes" colour="forestgreen" />
      <a href="/">{SITE_TITLE}</a>
    </div>
    <div
      class="gap-8 justify-center items-center internal-links text-start hidden md:flex font-primary"
    >
      <NavLinks />
    </div>
    <div class="flex justify-end">
      <button id="toggleNavigation" aria-label="mobile-naviagtion">
        <Icon ctx="map" colour="forestgreen" />
      </button>
    </div>
  </nav>
</header>
<Dialog id="navigation" />
<script>
  document.getElementById("toggleNavigation").addEventListener("click", () => {
    document.dispatchEvent(new CustomEvent("toggle-navigation"));
  });
</script>
<style>
  header {
    position: fixed;
    width: 100dvw;
    overflow-x: hidden;
    top: 0;
    margin: 0;
    padding: 0 1em;
    background-color: white;
    backdrop-filter: blur(0.5em);
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    z-index: 101;
    transition:
      filter,
      background-color 1s;
    &.satuation-filter {
      filter: saturate(0.35);
      background-color: rgba(255, 255, 255, 0.724);
      /* background-color: rgb(236 240 195 / 65%); */
    }
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr 2fr 0.4fr;
  }
  @media (max-width: 760px) {
    nav {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (min-width: 1080px) {
    nav {
      grid-template-columns: 1fr 2fr 1fr;
    }
  }
</style>
