---
import Icon from "./Icon.astro";
const today = new Date();
import { SITE_TITLE } from "$lib/consts";
---

<footer>
  <div class="flex justify-between items-center font-secondary">
    <div class="flex">
      <Icon src="shapes" ctx="shroom-7" size="5" />
      <Icon src="shapes" ctx="shroom-6" size="3" />
      <Icon src="shapes" ctx="shroom-2" size="5" />
    </div>
    <div class="flex flex-col items-center">
      <Icon ctx="coolrees-noir" size="5" nostroke />
      <span
        >&copy; {today.getFullYear()} {SITE_TITLE}. All rights reserved.</span
      >
    </div>
    <aside
      class="p-4 hidden md:flex flex-col text-right text-text-200 text-sm justify-end text-wash-300"
    >
      <span>built with humans</span>
      <a class="inline-link" href="https://threejjjs.xyz">
        <h5
          class="text-right py-1 text-text-200 text-xl md:text-3xl font-secondary m-0"
        >
          three<span class="text-emerald-700">jjj</span>s
          <br />
        </h5>
      </a>
      <span class="text-xs">Interactive Tech</span>
    </aside>
    <!-- <div class="hidden md:flex">
      <Icon src="shapes" ctx="shroom-1" size="5" />
      <Icon src="shapes" ctx="shroom-3" size="3" />
    </div> -->
  </div>
</footer>
<style>
  .inline-link:hover {
    border-color: transparent;
  }
  footer {
    padding: 2em 1em 6em 1em;
    /* background: linear-gradient(var(--gray-gradient)) no-repeat; */
    color: rgb(var(--gray));
    font-size: small;
    text-align: center;
  }
  .social-links {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: 1em;
  }
  .social-links a {
    text-decoration: none;
    color: rgb(var(--gray));
  }
  .social-links a:hover {
    color: rgb(var(--gray-dark));
  }
</style>
