---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
import Icon from "./Icon.astro";
---

<script>
  const $header = document.querySelector("header");
  document.addEventListener("percent", ({ detail }) => {
    if (detail < 0.05) $header?.classList.remove("satuation-filter");
    if (detail > 0.05) $header?.classList.add("satuation-filter");
  });
</script>
<header class="satuation-filter">
  <nav>
    <h2 class="flex flex-row items-center">
      <Icon ctx="shroom-2" size="3" src="shapes" colour="forestgreen" />
      <a href="/">{SITE_TITLE}</a>
    </h2>
    <div class="gap-8 items-center internal-links text-start hidden md:flex">
      <HeaderLink href="/a">Retreats</HeaderLink>
      <!-- <Icon ctx="compass" size="1" /> -->
      <HeaderLink href="/b">Your stay</HeaderLink>
      <!-- <Icon ctx="compass" size="1" /> -->
      <HeaderLink href="/c">Events</HeaderLink>
      <!-- <Icon ctx="compass" size="1" /> -->
      <HeaderLink href="/d">Off grid</HeaderLink>
      <!-- <Icon ctx="compass" size="1" /> -->
      <HeaderLink href="/e">Getting here</HeaderLink>
    </div>
    <div class="">
      <Icon ctx="map" colour="forestgreen" />
    </div>
  </nav>
</header>
<style>
  header {
    position: fixed;
    font-family: serif;
    width: 100dvw;
    overflow-x: hidden;
    top: 0;
    margin: 0;
    padding: 0 1em;
    /* background-color: rgba(237, 237, 237, 0.828); */
    background-color: white;
    backdrop-filter: blur(0.5em);
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    z-index: 101;
    /* border-bottom: 0.125em solid var(--primary-green); */
    transition:
      filter,
      background-color 1s;
    &.satuation-filter {
      filter: saturate(0.35);
      background-color: rgba(255, 255, 255, 0.724);
      /* background-color: rgb(236 240 195 / 65%); */
    }
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    /* padding: 1em 0.5em; */
    color: darkgreen;
    border-bottom: 0.25em solid transparent;
    text-decoration: none;
    /* font-family: "Atkinson", sans-serif; */
    font-size: smaller;
    transition: all 0.4s;
  }
  nav a:hover {
    color: var(--accent);
    border-bottom: 0.25em solid var(--accent);
  }
  nav a.active {
    /* text-decoration: none; */
  }
  .social-links,
  .social-links a {
    display: flex;
  }
  @media (max-width: 720px) {
    .social-links {
      display: none;
    }
  }
</style>
