---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import BaseHead from "$lib/components/BaseHead.astro";
import Footer from "$lib/components/Footer.astro";
import FormattedDate from "$lib/components/FormattedDate.astro";
import Header from "$lib/components/Header/index.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "$lib/consts";

const t = await getCollection("diary");
const posts = (await getCollection("diary")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<section>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a href={`diary/${post.id}/`}>
            {post.data.heroImage && (
              <Image
                width={720}
                height={360}
                src={post.data.heroImage}
                alt=""
              />
            )}
            <h4 class="title">{post.data.title}</h4>
            <p class="date">
              <FormattedDate date={post.data.pubDate} />
            </p>
          </a>
        </li>
      ))
    }
  </ul>
</section>

<Footer />
