---
import { ClientRouter } from "astro:transitions";
import BaseHead from "$lib/components/BaseHead.astro";
import Footer from "$lib/components/Footer.astro";
import Header from "$lib/components/Header/index.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "$lib/consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ClientRouter />
  </head>
  <body>
    <Header />
    <main id="image-container">
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style>
  #image-container {
    width: 100vw;
    height: 100dvh;
  }
</style>
